body {
  font-family: 'Inika', serif;
  border: 1px solid black;
  color: #474545;
}


/* -------------- Nav bar ------------- */
nav {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
  padding: 10px 10px;
  color: black;
  border: 1px solid red;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: #474545;
  cursor: pointer;
}

.logo {
  height: 2.5em;
  padding-right: 0.5em; ;
}
.logo,a:hover {
  filter: drop-shadow(0 0 2em #4f4f58aa);
}
.logo,a.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#nav-item li {
  list-style: none;
  padding: 0 1em;
  position: relative;
}

#nav-item li a {
  text-decoration: underline;
  color: #474545;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

#mobile i{
  color: black;
}

@media screen and (max-width:769px) {
  #nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}

/* -------------- Main ------------- */

.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  align-items: center;
  border: 1px solid orange;
}
.main-social {
  background-color: #D9D9D9;
  width: 45px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fa-brands,a:hover {
  filter: drop-shadow(0 0 2em #4f4f58aa);
}
.main-social,a.react:hover {
  filter: drop-shadow(0 0 2em #454b4daa);
}

.main-headline {
  background-color: #D9D9D9;
  width: 500px;
  height: 300px;
  padding: 70px 70px;
  color: #474545;
}

.main-headline h3 {
  margin: 0 auto;
}

.main-button button {
  background-color: #474545;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  font-family: 'Inika', serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 45px;
  border: none;
}

.main-button button:hover {
  background-color: #868282;
}

.main-pic {
  border-radius: 50%;
    width: 360px;
    height: 360px;
}

.main-pic img {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  border: 10px solid #D9D9D9 ;
}

/* -------------- About ------------- */

.about {
  color: #474545 ;
  border: 1px solid orangered;
  text-align: center;
  /* margin-top: 175px; */
  background-color: #d9d9d9;
}

.about-box {
  border: 1px solid black;
  display: flex;

  align-items: center;
}

.about-box img {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  border: 10px solid #D9D9D9;
  margin-left: 180px;
}

.about-section {
  border: 1px solid orange;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 510px;
  height: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section p {
  font-weight: 550;
}

.section-sub {
  display: flex;
  border: 1px solid black;
}

#section-exp {
  background-color: white;
  color: #474545;
  border-radius: 15px;
  width: 140px;
  height: 140px;
  margin: 10px;
}

#section-exp i {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}

#section-exp h4 {
  font-size: 18px;
  font-weight: bolder;
  margin: 0 auto;
}

#section-exp h6 {
  font-size: 16px;
  font-weight: bolder;
  margin: 15px auto;
}

.about-button button {
  background-color: #474545;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-family: 'Inika', serif;
  font-size: 13px;
  cursor: pointer;
  margin-top: 45px;
  position: absolute;
  bottom: -240px;
  right: 437px;
  border: none;
}

.about-button button:hover {
  background-color: #868282;
}

/* -------------- skills ------------- */

.skills {
  border: 5px solid green;
  text-align: center;
  padding-top: 25px;
}

.skills h1 {
  margin:0;
    padding:0;
  
}

.skills h3 {
    margin:0;
    padding:0;
  
}

.skill-box {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
}

.skill-box i {
  font-size: 10px;
  font-family: 'Inika', serif;
}

.skill-box1 {
  border: 2px solid red;
  background-color: #A5A5A5;
  border-radius: 10px;
  width: 400px;
  height: 350px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid orange;
  flex-wrap: wrap;
  
}

.skill-html {
  border: 2px solid green;
  display: flex;
  align-items: center;
  height: 45px;
  

}

.skill-html img {
  width: 25px;
  height: 27px;
}

.html-text {
  color: #474545;
  font-weight: bolder;
  font-size: 17px;
}